{% extends "base.html" %}

{% block content %}
<form class="card p-3 mx-auto w-25 mt-5 shadow-lg" method = "post">
    {% csrf_token %}
    <h1>Login Form</h1>
    <hr>

        {% comment %} Here messages are recieved and showed! {% endcomment %}

        {% if messages %}
            {{ message.tags }}
            <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}


    <!-- User Name input -->
    <div data-mdb-input-init class="form-outline mb-1">
        <label class="form-label" for="user_name">User Name</label>
        <input type="text" name = "user_name" id="user_name" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-1">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" name = "password" id="form2Example2" class="form-control" />
    </div>

      {% comment %} <div class="col mb-1">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div> {% endcomment %}
  
    <!-- Submit button -->
    <button class="btn btn-primary" type="Submit">Sign_In</button>
  
    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="/register/">Register</a> here!</p>
    </div>
  </form>
{% endblock %}